<template>
  <user-alert v-if="alertIsVisible" @dummyfunction = "parentMethod" title="Delete the User?" @close="hideAlert">
    <p>Do you want to continue with deleting a user?</p>
  </user-alert>
  <section>
    <h2>Delete a User</h2>
    <button @click="showAlert">Delete User</button>
  </section>
</template>

<script>
import alertMixing from '../mixing/alert';
import UserAlert from '../components/UserAlert.vue'
export default {
  components: {
    UserAlert,
  },
  mixins: [alertMixing],
  setup(){
    function parentMethod(valueFromChild){
      // Do something with the value
      console.log('From the child:', valueFromChild);
    }
    return { parentMethod };
  }
};
</script>